.product {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: 100%;
}

.product__title {
  font-size: 1.25rem;
  font-weight: 600;
}

.product__price {
  font-size: 1rem;
  font-weight: 400;
}